<div class="card">
    <p-dataView #dv [value]="chats" emptyMessage="There are no chats currently">
        <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center text-3xl font-bold">
                Chats
            </div>
        </ng-template>
        <ng-template pTemplate="list" let-chats>
            <div class="grid grid-nogutter">
                @for (chat of chats; track chat.id) {
                <div class="col-12 cursor-pointer hover:bg-primary-200" (click)="navigateToChat(chat.id)">
                    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                        @if (chat.otherUser.image) {
                            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="utilFunctions.getImageSrc(chat.otherUser.image)" [alt]="chat.otherUser.name" />
                        } 
                        @else {
                            <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" [alt]="chat.otherUser.name" />
                        }
                        <div class="flex flex-column justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-2xl font-bold text-900">{{ chat.otherUser.name }} {{ chat.otherUser.surname }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </ng-template>
    </p-dataView>
</div>