<p-card header="Register" class="card" [style]="{'text-align':'center'}">
    <form [formGroup]="form" class="form">
        <div class="responsive-div">
            <span class="p-float-label">
                <input pInputText formControlName="name" class="input" />
                <label for="name">Name</label>
            </span>
            <span class="p-float-label">
                <input pInputText formControlName="surname" class="input" />
                <label for="surname">Surname</label>
            </span>
        </div>
        <div class="responsive-div">
            <span class="p-float-label">
                <input pInputText formControlName="city" class="input" />
                <label for="city">City</label>
            </span>
            <span class="p-float-label">
                <input pInputText formControlName="mail" class="input" />
                <label for="mail">Email</label>
            </span>
        </div>
        <div class="responsive-div">
            <span class="p-float-label">
                <input pInputText formControlName="username" class="input" />
                <label for="username">Username</label>
            </span>
            <span class="p-float-label">
                <p-password formControlName="password" [feedback]="false" [toggleMask]="true"
                    [inputStyle]="{'width':'20rem'}"></p-password>
                <label for="password">Password</label>
            </span>
        </div>
        <p-fileUpload mode="basic" accept="image/*" (onSelect)="onImageSelect($event)" chooseLabel="Your Picture"></p-fileUpload>

        <p>
            Already have an account? <a routerLink="/auth/login">Sign In</a>
        </p>

        <p-button class="button-margin" label="Submit" [loading]="loading" (onClick)="submit()"></p-button>
    </form>
</p-card>