.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 57.5px);
}

@media screen and (max-width: 960px) {
    .flex-center {
        height: calc(100vh - 50px)
    }
}