<p-card header="Login" class="card" [style]="{'text-align':'center'}">
    <form [formGroup]="form" class="form">
        <div class="p-float-label">
            <input pInputText formControlName="username" class="input"/>
            <label for="username">Username</label>
        </div>
        <div class="p-float-label">
            <p-password formControlName="password" [feedback]="false" [toggleMask]="true" [inputStyle]="{'width':'20rem'}"></p-password>
            <label for="password">Password</label>
        </div>
        <p-button class="button-margin" label="Submit" [loading]="loading" (onClick)="submit()"></p-button>
    </form>
    <p-toast [breakpoints]="{'960px': {width: '100%', right: '0', left: '0'}}"></p-toast>
</p-card>